<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.byd.wsg.promand.project1" >

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="pl.byd.wsg.promand.project1.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="pl.byd.wsg.promand.project1.Graph"
            android:label="@string/title_activity_graph" >
        </activity>
        <activity
            android:name="pl.byd.wsg.promand.project1.Report"
            android:label="@string/title_activity_report" >
        </activity>
        
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
